body {
    padding-left: 30vw;
    padding-right: 30vw;
    padding-top: 5vh;
}

.items-view {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.items-view h2 {
    font-size: 12pt;
}

.items-view h3 {
    font-size: 8pt;
}

.item-content {
    display: inline-block;
}