body {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
}

@media screen and (min-width: 800px) {
    body {
        padding-left: 30vw;
        padding-right: 30vw;
    }

}

.items-view {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.items-view h2 {
    font-size: 12pt;
}

.items-view h3 {
    font-size: 8pt;
}

.item-content {
    display: inline-block;
}

.right {
    float: right;
}